button {
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  background-color: white;
  font-weight: bold;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}

button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px;
}

.item-list-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-list-heading button {
  padding: 5px 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

.item-list-heading div {
  margin-bottom: 5px;
}

.list {
  text-align: start;
}

.list-item {
  margin-top: 20px;
}

.line {
  background-color: #2d34360e;
  height: 5px;
}

.item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
  font-size: 1.4rem;
  /*border: #f9f9f9 3px solid;*/
  background-color: #2d34360e;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  cursor: pointer;
  color: black;
}

.item:hover {
  /*border: #333 3px solid;*/
  background-color: #2d3436;
  color: white;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  margin-bottom: 10px;
}

.items > div {
  margin-bottom: -10px;
  margin-left: -10px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-item-holder {
  display: inline-block;
  overflow: auto;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.date-item-holder::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.date-item {
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  white-space: nowrap;
  font-size: 0.8rem;
  height: 30px;
  padding: 4px 20px 0px 20px;
  border-radius: 10px;
}

.date-item::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.date-item:not(:last-child) {
  margin-right: 10px;
}

.id-item {
  margin-right: 30px;
  font-weight: bold;
}

.content-item {
  width: 100%;
  border-radius: 50px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons > img {
  margin-left: 5px;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}

.buttons > img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px;
}

.item-in-item {
  margin-left: 5%;
}

.item-active {
  background-color: #2d3436;
  border-radius: 10px 10px 0px 10px;
  color: white;
}

.item-active-img {
  background-color: #2d3436;
}

.img-item {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.content {
  margin-top: -0px;
  background-color: white;
  padding: 15px 4% 20px 4%;
  border-radius: 0px 0px 10px 10px;
  border: 2px #2d3436 solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  border-top: none;
}

.form {
  width: 100%;
  text-align: start;
}

.form input {
  width: 100%;
  border-radius: 10px;
  border: 3px solid #2d34360e;
  padding: 20px;
}

.form button {
  width: 100%;
}

.contents {
  border: 3px solid #2d34360e;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
}

.scroll-list {
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  border: 3px solid #2d34360e;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

/* discription text area */
.discription {
  border: 3px solid #2d34360e;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  min-height: 150px;
}

.undertext {
  padding: 0px 0px 10px 00px;
}

.undertext h5 {
  margin-bottom: -3px;
}

.undertext small {
  margin-left: 5px;
  color: #c7c7c7;
}

select {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #2d34360e;
}

.query {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.query-button {
  font-size: 1.5rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 22px;
  width: 150px;
  height: 70px;
  background-color: white;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.query-button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0) 0px 3px 6px;
}

.query-response {
  -ms-user-select: auto;
      user-select: auto;
  -webkit-user-select: auto;
  /*Safari*/
  -moz-user-select: auto;
  /*Firefox*/
  padding: 10px;
  border-radius: 10px;
  border: 3px #2d34360e solid;
}

.heading-with-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading-with-button .see-unsee-icon {
  margin-right: 20px;
  cursor: pointer;
}

.none-connected-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.none-connected-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
  font-size: 1.4rem;
  /*border: #f9f9f9 3px solid;*/
  background-color: #2d34360e;
  border-radius: 10px;
  margin-right: 3px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
/*# sourceMappingURL=admin.css.map */