.default {
  margin: 30px;
  min-width: 280px;
  max-width: 450px;
}
.admin {
  margin: 30px;
  min-width: 280px;
}

.margin {
  margin-bottom: 22px;
}

.b-text {
  color: black;
}
.w-text {
  color: white;
}
.g-text {
  color: #1e1e1ec7;
}

.spacing {
  letter-spacing: 3px;
}

.inner-block {
  width: 100%;
  max-width: 450px;
  text-align: left;
}

.block {
  display: flex;
  justify-content: center;
}
