.default {
  margin: 30px;
  min-width: 280px;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}
.admin {
  margin: 30px;
  min-width: 280px;
}

.margin {
  margin-bottom: 22px;
}

.margin-l {
  margin-bottom: 30px;
}

.b-text {
  color: black;
}
.w-text {
  color: white;
}
.g-text {
  color: #1e1e1ec7;
}

.spacing {
  letter-spacing: 3px;
}

.inner-block {
  width: 100%;
  max-width: 550px;
  text-align: left;
}

.block {
  display: flex;
  justify-content: center;
}

a {
  cursor: pointer;
}

.directions {
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 5%;
  margin-top: 5px;
}

.no-scroll {
  overflow: hidden;
}
